.circle {
    border-radius: 50%;
    width: 64px;
    height: 64px;
}
.btn-center{
    text-align: center;
}
iframe{
    width: 100%;
    height: 100%;
}
.blod{
    color: #8b8a88;
    font-weight: bold;
}
.circle-toutiao{
    background-color: #e83a39;
    font-weight: bold;
    font-size: 19px;
    color: #fff;
    border:none;
}
.circle-luntan{
    background-color: #26b275;
    font-weight: bold;
    font-size: 25px;
    color: #fff;
    border:none;
}
.circle-paike{
    background-color: #8ec21f;
    font-weight: bold;
    font-size: 25px;
    color: #fff;
    border:none;
}
.circle-fangcan{
    background-color: #f2ac26;
    font-weight: bold;
    font-size: 25px;
    color: #fff;
    border:none;
}